.cake-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  &:has(:disabled) {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .cake-checkbox-input {
    box-sizing: border-box;
    color-scheme: var(--cake-checkbox-color-scheme);
    width: var(--cake-checkbox-size);
    height: var(--cake-checkbox-size);
    margin: var(--cake-checkbox-margin, revert);
    accent-color: var(--cake-accent);
    cursor: inherit;
    &:focus-visible {
      outline: 2px solid var(--cake-accent);
      outline-offset: 3px;
    }
  }
  .cake-checkbox-label {
    font-size: inherit;
  }
}
